body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .navbar {
    position: fixed;
    top: 0; 
    width: 100%; 
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1000; 
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .navbar-center {
    display: flex;
    align-items: center;
  }

  .navbar-center button:hover {
    background-color: #555;
  }

  .navbar-center label {
    background-color: #555;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-center label:hover {
    background-color: #333;
  }
  
  .magic-icon {
    font-size: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .menu li:hover {
    text-decoration: none;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .menu li:hover {
    background-color: #555;
  }
  
  content {
    padding: 60px 0 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start;
  }

  .content {
    padding: 20px 0 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start; 
    margin-top: 60px; 
  }
  
  .button-list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; 
    display: flex; 
    flex-wrap: wrap; 
  }
  
  
  /* Adiciona uma regra para ajustar a largura das button-lists conforme o tamanho da tela */
  @media (min-width: 768px) {
    .button-list {
      width: calc(50% - 20px); 
    }
  }
  
  .button-list h2 { 
    margin-bottom: 10px;
  }
  
  .button-list button {
    display: inline-block;
    width: calc(48% - 10px);
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .button-list button:nth-child(3n+1) {
    clear: left;
  }
  
  .claro {
    background-color: #f8f8f8;
  }
  
  .escuro {
    background-color: #dcdcdc;
  }

  .button-list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(200px - 20px);
    height: auto; 
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h2 {
    width: 100%; 
  }

  h4 {
    top: 0%;
    margin-bottom: auto;
    margin-top: 5px;
  }
  
  .tag-container {
    display: flex;
    justify-content: space-between;
  }
  
  .tag-color {
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    color: white; 
    padding: 5px;
    display: inline-block; 
    background-color: #B06204; 
    margin-bottom: 10px; 
    line-height: 10px; 
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

.download-button,
.view-button {
  width: 100%; /* Define a largura para dividir o espaço disponível */
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

  
.download-button:hover,
.view-button:hover {
  background-color: #555;
}

.view-button {
  right: 0; /* Posiciona o botão "Ver Lista" no lado direito */
}

.download-button {
  left: 0; /* Posiciona o botão "Download" no lado esquerdo */
}


.sidebar {
  width: 13%;
  background-color: #333;
  color: white;
  padding: 5px;
  position: fixed;
  top: 48px; /* Ajuste conforme necessário para evitar sobreposição com o navbar */
  bottom: 0;
  overflow-y: auto;
  left: 0;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
}

.container {
  display: flex;
  margin-top: 10px; /* Adiciona margem ao topo para evitar sobreposição com o navbar */
  padding-left: 13%;
}

.content {
  flex: 1;
  padding: 1px;
}

.label-pai {
  font-size: 14px;
}

.label-pai .label-filho {
  font-size: 12px;
}

.label-pai .label-filho input{
  width: 11px;
  height: 11px;
}

.filter_switch {
  display: inline-block;
  margin-left: 10px;
  background-color: #333;
  color: #f4f4f4;
  width: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  right: 0%;
}